.App {
  text-align: center;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


li {
  padding: 5px;
  display: inline-block;
  text-align: center;
}

form {
  background-color: rgb(119, 119, 194);
  display: inline-block;
  text-align: center;
}

#root {
  text-align: center;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}